@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Quicksand:wght@300;400;500;600;700&display=swap');

.btn1{
    background-color: white;
    color: black;
    border-radius: 70px;
    border: none;
    min-width: 100px;
    max-width: 300px;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    padding: 15px;
    transition: all ease .3s;

    &:hover{
        background-color: cadetblue;
        color: white;
        transform: scale(0.95);
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    }

    &:active{
        transform: scale(1.1);
    }
}