body{
    height: 100vh;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow: hidden;


    .NavBar{
        width: calc(100vw - 20px);
        height: 60px;
        padding: 10px;
        background-image: url(./img/BackGround.jpg);
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .burguerMenuIcon{
            display: none;

            @media(orientation: portrait){
                display: block;
                width: 45px;
                height: 45px;
                align-self: center;
            }
        }

        .menu{
            display: none;

            @media(orientation: portrait){
                display: block;
                z-index: 15;
                width: 185px;
                height: 280px;
                border-radius: 0px 0px 20px 0px;
                background-image: url(img/BackGroundPortrait.jpg);
                position: relative;
                bottom: 10px;
                right: 10px;
            }

            .burguerMenuIcon{
                position: relative;
                top: 18px;
                left: 10px;
            }

            .link{
                color: white;
                text-decoration: none;
                position: relative;
                top: 30px;
                left: 10px;
            }
        }

        .info{
            display: flex;
            flex-direction: row;
            color: white;
            gap: 20px;

            @media (orientation: portrait){
                display: none;
            }

            .link{
                color: white;
                text-decoration: none;
                &:hover{
                    cursor: pointer;
                }
            }
        }

        .actions{
            display: flex;
            flex-direction: row;
            color: white;
            gap: 10px;
            align-items: center;

            .access{
                @media(orientation: portrait){
                    display: none;
                }
            }

            button{
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }

    .startPage{
        width: 100vw;
        height: calc(100vh - 120px);
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        overflow-y: scroll;

        .welcomeLogo{
            width: 250px;
            margin-bottom: 0px;

            @media(orientation: portrait){
                width: 170px;
            }
        }

        h1{
            margin-top: 0px;
            margin-bottom: 0px;
            color: black;
            font-size: 100px;

            @media(orientation: portrait){
                font-size: 50px;
            }
        }

        p{
            margin-top: 0px;
            color: gray;
            font-size: 30px;
            font-weight: 600;
            width: 70vw;
            text-align: center;

            @media(orientation: portrait){
                font-size: 20px;
                text-align: center;
                width: 90vw;
            }
        }

        .StartInfoContainer{
            margin-top: 150px;
            width: 100vw;
            display: flex;
            justify-content: space-around;
            flex-direction: row;

            @media(orientation: portrait){
                margin-top: 20px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            img{
                width: 450px;
                height: 450px;
                object-fit: cover;

                @media(orientation: portrait){
                    width: 250px;
                    height: 250px;
                }
            }

            .roundImage{
                border-radius: 50%;
            }

            .left{
                width: 50vw;

                @media(orientation: portrait){
                    width: 100vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                h1{
                    text-align: end;

                    @media(orientation: portrait){
                        width: 90vw;
                        text-align: center;
                        font-size: 40px;
                        margin-top: 30px;
                        align-self: center;
                        justify-self: center;
                    }
                }

                p{
                    width: 50vw;
                    text-align: end;
                    
                    @media(orientation: portrait){
                        width: 90vw;
                        text-align: center;
                        font-size: 20px;
                    }

                    .spanLink{
                        color: black;
                        text-decoration: none;

                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }

            .right{
                width: 50vw;

                @media(orientation: portrait){
                    width: 100vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                h1{
                    text-align: start;

                    @media(orientation: portrait){
                        width: 90vw;
                        text-align: center;
                        font-size: 40px;
                        margin-top: 30px;
                        align-self: center;
                        justify-self: center;
                    }
                }

                p{
                    width: 50vw;
                    text-align: start;

                    @media(orientation: portrait){
                        width: 90vw;
                        text-align: center;
                        font-size: 20px;
                        align-self: center;
                    }
                }
            }
        }

        .reverse{
            @media(orientation: portrait){
                flex-direction: column-reverse;
            }
        }
    }

    .Form{
        width: 100vw;
        height: calc(100vh - 80px);
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .submit{
            margin-top: 5px;
        }

        & h1{
            color: black;
            margin: 0;
        }
    }

    .DatabaseChanger{
        display: flex;
        flex-direction: column;

        .DatabaseChangerBanner{
            width: 95vw;
            height: 10vh;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            background-color: tomato;

            #searcher{
                width: 80vw;
            }
        }

        .SearchResults{
            background-color: cadetblue;
            width: 95vw;
            height: 75vh;
        }
    }

    .mainCheckContainer{
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        @media(orientation: portrait){
            flex-direction: column;
            height: 100vh;
            overflow: hidden;
        }

        .checkContainer1{
            width: 50vw;
            height: calc(100vh - 90px);
            // background-color: brown;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            @media(orientation: portrait){
                height: 30vh;
                width: 100vw;
                align-items: start;
                margin-top: 40px;
            }

            .Form{
                height: 20vh;
            }
        }

        .checkContainer2{
            width: 50vw;
            height: calc(100vh - 90px);
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            @media(orientation: portrait){
                height: 50vh;
                width: 100vw;
                align-items: start;
            }

            .checkedInfo{
                max-width: 65%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                border-radius: 25px;
                box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
                background-color: rgba(255, 255, 255, 0.7);
                padding: 20px;
                color: black;

                @media (orientation: portrait){
                    min-width: 70dvw;
                    position: relative;
                    top: 35px;
                }

                h3{
                    margin-bottom: 0;
                }

                p{
                    margin-top: 0;
                }

                .errorMessage{
                    font-weight: 900;
                    color: red;
                }
            }
        }
    }

    .services{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        overflow-y: scroll;

        h1{
            text-align: center;
            color: black;

            @media(orientation: portrait){
                font-size: 35px;
                width: 90vw;
            }
        }

        p{
            margin-top: 0px;
            color: gray;
            font-size: 30px;
            font-weight: 600;
            width: 70vw;
            text-align: center;

            @media(orientation: portrait){
                font-size: 20px;
                width: 90vw;
            }
        }

        .servicesContainer{
            margin-top: 20px;
            width: 85vw;
            height: 100vh;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            .individualService{
                width: 350px;
                display: flex;
                flex-direction: column;
                align-items: center;

                @media(orientation: portrait){
                    width: 100vw;
                }

                img{
                    width: 300px;
                    border-radius: 30px;
                    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
                    transition: all ease .3s;

                    @media(orientation: portrait){
                        width: 75vw;
                    }

                    &:hover{
                        @media(orientation: landscape){
                            transform: scale(1.2);
                            box-shadow: 0px 0px 10px 10px rgba(0, 230, 230, 0.7);
                        }
                    }
                }
            }
        }
    }

    .aboutUs{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            color: black;
            text-align: center;

            @media(orientation: portrait){
                font-size: 30px;
                width: 90vw;
            }
        }
    }

    .comments{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            color: black;
            text-align: center;

            @media(orientation: portrait){
                font-size: 30px;
                width: 90vw;
            }
        }
    }
}

.Manage{
    width: 100vw;
    height: 100vh;
    
    .searchBar{
        width: calc(100vw - 40px);
        height: 80px;
        margin: 15px;
        border: 5px solid white;
        border-radius: 20px;
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
        background-color: gray;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .searchComponent{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            #searchInput{
                width: 70vw;
            }

            button{
                background-color: rgba(0, 0, 0, 0);
                border: none;
                outline: none;

            }

            img{
                width: 40px;
                height: 40px;
                padding: 5px;
                border: 3px solid white;
                border-radius: 15px;
                transition: all .2s;

                &:hover{
                    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.3);
                    cursor: pointer;
                }
            }
        }
    }

    .resultBox{
        width: calc(100vw - 70px);
        height: calc(100vh - 260px);
        margin: 15px;
        border: 5px solid white;
        border-radius: 20px;
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
        background-color: gray;
        display: flex;
        flex-direction: column;
        padding: 15px;
        gap: 15px;
        overflow-y: scroll;

        .result{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 15px;
            border: 5px solid white;
            border-radius: 15px;
            color: white;
            background-color: rgba(30, 30, 30, 0.3);

            h2{
                text-justify: center;

                span{
                    color: lightgray;
                    font-size: 25px;
                }
            }


            .icons{
                display: flex;
                gap: 15px;
                img{
                    width: 50px;
                    transition: all .2s;

                    &:hover{
                        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.9));
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.checkBackground{
    background-image: url(https://www.cenedi.com/assets/Reparacio%CC%81n-de-Tele%CC%81fonos-Celulares.jpg);
    background-size: cover;
}

.errorPageBack{
    width: 100vw;
    height: 100vh;
    background-image: url(https://www.cenedi.com/assets/Reparacio%CC%81n-de-Tele%CC%81fonos-Celulares.jpg);
    background-size: cover;
}

.errorPageContainer{
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        color: black;
        font-size: 100px;
        margin: 0px;
    }

    h3{
        color: black;
        font-size: 30px;
        margin: 0px;
    }
}

.ModalContainer{
    z-index: 5;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    position: relative;
    bottom: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .AddModal{
        background-color: rgba(255, 255, 255, 0.5);
        width: 50vw;
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        border-radius: 25px;
        box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.3);

        h1{
            margin: 0px;
            margin-bottom: 20px;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;

            TextField{
                width: 300px;
            }

            .modalButtonAdd{
                width: 50px;
                position: relative;
                right: 75px;
                top: 15px;

            }
        }

        .modalButtonClose{
            width: 50px;
            position: relative;
            left: 75px;
            bottom: 35px;
        }
    }

    .DeleteModal{
        background-color: rgba(255, 255, 255, 0.5);
        width: 30vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
        padding: 50px;
        border-radius: 25px;
        box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.3);

        .buttons{
            display: flex;
            flex-direction: row;
            gap: 15px;
        }

        h1{
            margin: 0px;
            margin-bottom: 20px;
            text-align: center;
        }
    }

    .ViewModal{
        background-color: rgba(255, 255, 255, 0.5);
        width: 30vw;
        height: 60vh;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        padding: 50px;
        border-radius: 25px;
        box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.3);

        h1{
            margin: 0px;
            margin-bottom: 20px;
            text-align: center;
        }

        h3{
            margin: 0px;
        }
    }

    .EditModal{
        background-color: rgba(255, 255, 255, 0.5);
        width: 30vw;
        height: 60vh;
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
        padding: 50px;
        border-radius: 25px;
        box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.3);

        form{
            display: flex;
            flex-direction: column;
        }

        h1{
            margin: 0px;
            margin-bottom: 20px;
            text-align: center;
        }
    }
}