body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    margin: 0;

    .NavBar{
        width: calc(100vw - 20px);
        height: 60px;
        padding: 10px;
        // background-color: aqua;
        background-image: url(./img/BackGround.jpg);
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .info{
            display: flex;
            flex-direction: row;
            color: white;
            gap: 20px;

            h3{
                &:hover{
                    cursor: pointer;
                }
            }
        }

        .actions{
            display: flex;
            flex-direction: row;
            color: white;
            gap: 10px;

            button{
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }

    .Page{
        width: calc(100vw - 20px);
        height: calc(100vh - 100px);
        padding: 10px;
        background-color: cadetblue;
    }
}